USE [master]
GO
/****** Object:  Database [ESTUDIANTES]    Script Date: 16/4/2024 15:14:09 ******/
CREATE DATABASE [ESTUDIANTES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESTUDIANTES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ESTUDIANTES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESTUDIANTES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ESTUDIANTES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESTUDIANTES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESTUDIANTES]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 16/4/2024 15:14:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[Leccion_1] [decimal](5, 2) NULL,
	[Tarea_1] [decimal](5, 2) NULL,
	[Leccion_2] [decimal](5, 2) NULL,
	[Tarea_2] [decimal](5, 2) NULL,
	[Examen] [decimal](5, 2) NULL,
	[Puntos_extra] [decimal](5, 2) NULL,
	[Aprobado] [bit] NULL,
	[Leccion_3] [decimal](5, 2) NULL,
	[Tarea_3] [decimal](5, 2) NULL,
	[Leccion_4] [decimal](5, 2) NULL,
	[Tarea_4] [decimal](5, 2) NULL,
	[Leccion_5] [decimal](5, 2) NULL,
	[Tarea_5] [decimal](5, 2) NULL,
	[Leccion_6] [decimal](5, 2) NULL,
	[Tarea_6] [decimal](5, 2) NULL,
	[Leccion_7] [decimal](5, 2) NULL,
	[Tarea_7] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
